:root {
  --gray-01: #fcfcfc;
  --gray-02: #f9f9f9;
  --gray-03: #f6f6f6;
  --gray-04: #f3f3f3;
  --gray-05: #f0f0f0;
  --gray-10: #e6e6e6;
  --gray-20: #c9c9c9;
  --gray-30: #adadad;
  --gray-40: #919191;
  --blue-40v: #2491ff;
  --orange-warm-40v: #ff580a;
  --gray-50: #757575;
  --green-cool-50v: #008817;
  --gray-60: #5c5c5c;
  --orange-warm-60v: #a72f10;
  --gray-70: #454545;
  --blue-70v: #0b4778;
  --gray-80: #2e2e2e;
  --gray-90: #1b1b1b;
  box-sizing: border-box;
}

@font-face {
  font-family: "Digital";
  src: url("./digital-7.ttf");
}

body {
  background-color: var(--gray-80);
}

main {
  block-size: 100vh;
  inline-size: 100%;
  display: grid;
  place-items: center;
}

.function,
.digit {
  cursor: pointer;
  border: 0.5px solid;
}

.digit {
  border-color: var(--gray-80);
}

.function {
  border-color: var(--gray-60);
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--gray-70);
  border: 1.5px solid var(--gray-60);
  --radius: 10px;
  --space: 15px;
  padding: var(--space);
  border-radius: calc(var(--radius) + var(--space));
  block-size: min(100vmin, 400px);
  inline-size: min(80vmax, 300px);
}

#clear {
  border-start-start-radius: var(--radius);
  color: var(--gray-05);
  background-color: var(--blue-40v);
}

#backspace {
  border-start-end-radius: var(--radius);
}

#equals {
  border-end-end-radius: var(--radius);
  background-color: var(--orange-warm-40v);
}

#zero {
  border-end-start-radius: var(--radius);
}

button {
  color: var(--gray-10);
  border: none;
}

.digit {
  background-color: var(--gray-60);
}

.function {
  background-color: var(--gray-80);
}

#display {
  font-family: Digital, Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  padding-inline-start: 10px;
  border-radius: var(--radius);
  font-size: 45px;
  background-color: var(--gray-90);
  color: var(--green-cool-50v);
  block-size: 65px;
  overflow-x: auto;
}

#buttons {
  flex: 1;
  margin-block-start: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#buttons * {
  font-weight: bold;
  font-size: 18px;
}

#top {
  display: flex;
  grid-column: span 4;
}

#top > * {
  flex: 1 1 auto;
}

#digits {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 4;
  grid-row: 2 / 6;
}

#zero {
  grid-column: span 2;
}

#dot {
  background-color: var(--gray-60);
  border-color: var(--gray-80);
}

#right {
  display: flex;
  flex-direction: column;
  grid-row: span 4;
}

@media screen and (max-width: 500px) {
  body {
    writing-mode: vertical-rl;
  }
}

#right > * {
  flex: 1;
}

#add {
  flex: 1;
}

#equals {
  flex: 2;
}

.active-operator {
  background-color: var(--orange-warm-40v);
}

.digit:active,
#dot:active {
  box-shadow: inset 1.5px 1.5px 1px var(--gray-80),
    inset -0.5px -0.5px 1px var(--gray-80);
}

.function:active {
  box-shadow: inset 1.5px 1.5px 1px black, inset -0.5px -0.5px 1px black;
}

.active-operator:active,
#equals:active {
  box-shadow: inset 1.5px 1.5px 1px var(--orange-warm-60v),
    inset -0.5px -0.5px 1px var(--orange-warm-60v);
}

#clear:active {
  box-shadow: inset 1.5px 1.5px 1px var(--blue-70v),
    inset -0.5px -0.5px 1px var(--blue-70v);
}
