:root {
  --gray-01: #fcfcfc;
  --gray-02: #f9f9f9;
  --gray-03: #f6f6f6;
  --gray-04: #f3f3f3;
  --gray-05: #f0f0f0;
  --gray-10: #e6e6e6;
  --gray-20: #c9c9c9;
  --gray-30: #adadad;
  --gray-40: #919191;
  --gray-50: #757575;
  --gray-60: #5c5c5c;
  --gray-70: #454545;
  --gray-80: #2e2e2e;
  --gray-90: #1b1b1b;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--gray-80);
}

main {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.function,
.digit {
  cursor: pointer;
}

#calculator {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-70);
  border: 1.5px solid var(--gray-60);
  --radius: 10px;
  --space: 10px;
  padding: var(--space);
  border-radius: calc(var(--radius) + var(--space));
  aspect-ratio: 3/4;
  width: 80%;
  max-width: 250px;
}

#clear {
  border-top-left-radius: var(--radius);
}

#subtract {
  border-top-right-radius: var(--radius);
}

#equals {
  border-bottom-right-radius: var(--radius);
}

#zero {
  border-bottom-left-radius: var(--radius);
}

button {
  color: var(--gray-10);
  border: none;
}

.digit {
  background-color: var(--gray-60);
}

.function {
  background-color: var(--gray-80);
}

#display {
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: var(--radius);
  font-size: 22px;
  background-color: var(--gray-90);
  color: var(--gray-20);
  height: 50px;
  width: 100%;
  overflow: scroll;
}

#buttons {
  flex: 1;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#top {
  display: flex;
  grid-column: 1 / 5;
  grid-row: 1;
}

#top > * {
  flex: 1;
}

#digits {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 4;
  grid-row: 2 / 5;
}

#zero {
  grid-column: 1 / span 3;
}

#right {
  display: flex;
  flex-direction: column;
  grid-row: 2 / 5;
}

#right > * {
  flex: 1;
}

